{% extends "base.html" %}
{% load staticfiles %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/create_story.css" %}">
	<script type="text/javascript" src="{% static "js/create_story.js"%}"></script>
{% endblock %}
{% block content %}

<div class = "row">
	<div class = "col-lg-12">
		{% if messages %}
		<div class="messages">
			{% for message in messages %}
			<div{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 class = "error">{{ message }}</h5></div>
			{% endfor %}
		</div>
		{% endif %}
		
		{{ form.source.errors }}
		{% if form.title.errors %}
			<h5 class = "error">Please insert your title</h5>
		{% endif %}
	</div>
	<div class = "col-lg-12">
		<form action="/stories/create_stories/" method="post" enctype = "multipart/form-data">{% csrf_token %}
		<div class = "row">
			<div class = "col-lg-6 col-lg-push-5">
				{{storyform}}
			</div>
		</div>
		<div id = "page" class = "row">
			<div id = "choice" class = "col-lg-1">
				<div class = "row">
					<div id="addimage" class = "col-lg-12">
						Image
					</div>
				</div>
				<div class = "row">
					<div id = "addtext" class = "col-lg-12 ">
						Text
					</div>
				</div>
			</div>
		</div>
		<input type = "submit" name = "submit" value = "Upload Picture">
		</form>
	</div>
</div>


{% endblock %}
{% block footer %}
footer
{% endblock %}