{% extends "base.html" %}
{% load staticfiles %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/create_story.css" %}">
	<script type="text/javascript" src="{% static "js/create_story.js"%}"></script>
{% endblock %}
{% block content %}
<br>
<div class = "row">
	<div class = "col-lg-10 col-lg-push-1">
		<div class = "col-lg-12">
			<h1 class = "text-green">Create new story</h1>
		</div>
		<div class = "col-lg-8">
			<h3>Create a new story. Make sure that the story contain at least an image and a text!</h3>
		</div>
		<div class = "col-lg-12">
			{% if messages %}
			<div class="messages">
				{% for message in messages %}
				<div{% if message.tags %} class="{{ message.tags }}"{% endif %}><h5 class = "error">{{ message }}</h5></div>
				{% endfor %}
			</div>
			{% endif %}
			
			{{ form.source.errors }}
			{% if form.title.errors %}
				<h5 class = "error">Please insert your title</h5>
			{% endif %}
		</div>
		<div class = "col-lg-12">
			<br>
		</div>
			<div class = "col-lg-12">
				<form action="/stories/create_stories/" method="post" enctype = "multipart/form-data">{% csrf_token %}
				<div class = "item">
					<div class = "row ">
						<div class = "col-lg-6">
							<label for="id_Story-title"><h4>Title:</h4></label>
						</div>
					</div>
					<div class = "row">
						<div class = "col-lg-8">
							<input class = "form-control" id="id_Story-title" maxlength="200" name="Story-title" type="text" placeholder="eg. Summer Vacation `15">
						</div>
					</div>
				</div>
					<br>
					<br>
			<div class = "row">
				<div class = "col-lg-12">
					<div id = "page" >
						<div id = "choice" class = "col-lg-3 ">
							<div id="addimage" class = "col-lg-12 btn btn-success" >
									<h4>Image</h4>
							</div>
							<div class = "col-lg-12">
								<hr>
							</div>
							<div id = "addtext" class = "col-lg-12 btn btn-success">
									<h4>Text</h4>
							</div>
						</div>
					</div>
				</div>
				<div class = "col-lg-12">
					<br>
					<br>
				</div>			
				<div class = "col-lg-12">
				<input type = "submit"  class = "btn btn-success" name = "submit" value = "Upload Story">
				</div>
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}
{% block footer %}
footer
{% endblock %}