{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/following.css" %}">
	<script type="text/javascript" src="{% static "js/following.js"%}"></script>
	
{% endblock %}
	
{% block content %}
	<br>
	<div class = "row">
		<div class = "col-lg-4 btn btn-success btn-lg feed">
			<div>Feed</div>
		</div>
		<div class = "col-lg-4 btn btn-success btn-lg discover">
			<div>Discover</div>
		</div>
		<div class = "col-lg-4 btn btn-success btn-lg discover">
			<div>Subscribe</div>
		</div>
	</div>
	<div>
		{% for story,image in list %}
			<div class = "col-lg-4 col-lg-push-2" style ="margin-top:20px;">
				<div class = "row">
					<div class = "col-lg-12">
						<a class = "story" href = "/stories/read/?s={{story.storyid}}">
							{% thumbnail image.source "330x330" crop="center" as im %}
								<img class = "img-responsive img-rounded"  src="{{im.url}}" ">
							{% endthumbnail %}
						</a>
					</div>
				</div>
				<div class = "row">
					<div class = "col-lg-12">
						<h4 style = "text-align: center">{{story.title}}<h4>
					</div>
				</div>
				<div class = "row">
					<div class = "col-lg-12">
						<h4 style = "text-align: center">by {{story.user.username}}<h4>
					</div>
				</div>
			</div>
						<div class = "col-lg-4 col-lg-push-2" style ="margin-top:20px;">
				<div class = "row">
					<div class = "col-lg-12">
						<a class = "story" href = "/stories/read/?s={{story.storyid}}">
							{% thumbnail image.source "330x330" crop="center" as im %}
								<img class = "img-responsive img-rounded"  src="{{im.url}}" ">
							{% endthumbnail %}
						</a>
					</div>
				</div>
				<div class = "row">
					<div class = "col-lg-12">
						<h4 style = "text-align: center">{{story.title}}<h4>
					</div>
				</div>
				<div class = "row">
					<div class = "col-lg-12">
						<h4 style = "text-align: center">by {{story.user.username}}<h4>
					</div>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
{% block footer %}
footer
{% endblock %}