{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/option.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/notification.css" %}">
	<script type="text/javascript" src="{% static "js/notification.js"%}"></script>
	
{% endblock %}
	
{% block content %}
	<br>
	{% include "option.html" %}
	<div class = "row">
		<div id = "notification">
			{% for item in mainnotification %}
				<div class = "col-lg-8" style ="margin-top:20px;">
					<div class = "row">
					{% if item.story %}
						<a href = "/stories/read/?s={{item.story}}"><h4>{{item.username}} {{item.topic}}</h4></a>
					{% else %}
						<h4>{{item.username}} {{item.topic}}</h4>
					{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class = "row">
			<div class = "col-lg-8 button">
				<button type="button" class="btn btn-success" id = "notification">Load more notification</button>
			</div>
		</div>
	</div>

{% endblock %}
{% block footer %}
footer
{% endblock %}