{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/read_stories.css" %}">
	<!-- Add mousewheel plugin (this is optional) -->
	<script type="text/javascript" src="{% static "fancybox/lib/jquery.mousewheel-3.0.6.pack.js" %}"></script>
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="{% static "fancybox/source/jquery.fancybox.css"%}?v=2.1.5" type="text/css" media="screen" />
	<script type="text/javascript" src="{% static "fancybox/source/jquery.fancybox.pack.js"%}?v=2.1.5"></script>
	<script type="text/javascript" src="{% static "js/read_stories.js"%}"></script>
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
		<br>
		<div class = "row">
			<div class = "col-lg-2 col-lg-push-3">
				<img class = "img-circle img-responsive user-pic" style="height: 130px; width: 130px"   src = "{{MEDIA_URL}}/media/valehelle/1445923237_4_196496_10150101729229195_6424518_n.jpg" />
			</div>
			<div class = "col-lg-4 col-lg-push-3">
				<h1>{{story.title}}</h1>
				<h2>Story by: {{author}} </hr>
			</div>
		</div>
		<br>
		<hr>
		<br>
		<div class = "row" >
			<div class = "col-lg-11 ">
				{% for item in items %}
					<div class = "col-lg-3 {% cycle  'col-lg-push-1' 'col-lg-push-1' 'col-lg-push-1' 'col-lg-push-9' 'col-lg-push-1' 'col-lg-pull-7'%}" >
						{% if item.text %}
							<div class="item square img-rounded text1" >
								<h4 class = "text-center">{{item.text}}</h4>
							</div>
							<div style="display: none;">									
								<a  class="fancybox-thumb" rel="fancybox-thumb" href="#inline{{forloop.counter}}" title="" >Inline</a>
								<div class = "text_inside" id="inline{{forloop.counter}}" style="width:400px;height:400px;overflow:auto;">
									<h2 >{{item.text}}</h2>
								</div>		
							</div>
						{% elif item.source %}
							 <div class = "item square text1">
								{% thumbnail item.source "330x330" crop="center" as im %}
								<img class = "img-responsive"  src="{{im.url}}" width="{{im.width}}" height="{{im.height}}">
								{% endthumbnail %}
							</div>
								<div style="display: none;">
								{% thumbnail item.source "x700" as im %}
									<a class="fancybox-thumb" rel="fancybox-thumb" href="{{im.url}}" title="" width="{{im.width}}" height="{{im.height}}">
										<img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" />
									</a>
								{% endthumbnail %}
		
								</div>
						{% endif %}
					</div> 
						{% if forloop.last %}
						
						{% else %}
						{% cycle '<div class = "col-lg-1 col-lg-push-1 link"><img class="img-responsive" src = "/static/image/welcome_header/smalldot.png"/></div>' '<div class = "col-lg-1 col-lg-push-1 link"><img class="img-responsive" src = "/static/image/welcome_header/smalldot.png"/></div>' '<div class = "col-lg-11 col-lg-push-1 verticaldot"><div class = "col-lg-1 col-lg-push-10"><img class="img-responsive verticalimage" src = "/static/image/welcome_header/verticaldot.png" style="height:50px;"/></div></div>' '<div class = "col-lg-1 col-lg-push-1 link"><img class="img-responsive" src = "/static/image/welcome_header/smalldot.png"/></div>' '<div class = "col-lg-1 col-lg-push-1 link"><img class="img-responsive" src = "/static/image/welcome_header/smalldot.png"/></div>' '<div class = "col-lg-11 col-lg-push-1 verticaldot"><div class = "col-lg-1 col-lg-push-1"><img class="img-responsive verticalimage" src = "/static/image/welcome_header/verticaldot.png" style="height:50px;"/></div></div>'%}
						{% endif %}
				{% endfor %}
			</div>
		</div>
{% endblock %}
{% block footer %}
footer
{% endblock %}