{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<title>Mementho</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
		<!-- Latest compiled and Google JavaQuery -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
				<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		{% block predata %}	
		<!--Depend on the page it will upload its own css and javascript -->
		{% endblock %}
    </head>
<body>
    <div id="header" class = "navbar-fixed-top">
    {% block header %}
		<div class="container-fluid">
			<div class = "row " style="background-image:url({% static "image\welcome_header\header_background.jpg" %})" >
				<div class="col-lg-1 col-md-2 col-xs-12 col-lg-push-1 ">
					<a href = "/">
					<img class = "img-responsive" src = "{% static "image\welcome_header\MT-Logo.png" %}"  style="height: 60px; margin-left:auto;margin-right:auto;" />
					</a>
				</div>
				<div id = "search_bar" class="col-lg-5 col-lg-push-1" >
					<div id = "search_bar" class="input-group">
						<input type="text" class="form-control" placeholder="Search Author">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-md">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</span>
						</input>
					</div><!-- /input-group -->
				</div>
				<div id = "username" class="col-lg-1 col-lg-push-4">
					<a href = "/profile?u={{ user.username }}" style = " text-decoration: none;">
						<h4 class = "text-white">{{ user.username }}</h4> 
					</a>
				</div>
				<div class="col-lg-1 col-lg-push-4" >
					<img class = "img-circle img-responsive user-pic" style="height: 50px; width: 50px"  src = "{{MEDIA_URL}}/media/valehelle/1445923237_4_196496_10150101729229195_6424518_n.jpg" data-toggle="dropdown" /> 
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Settings</a></li>
						<li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
					  </ul>		
				</div>
			</div>
		</div>
    {% endblock %}
    </div>
    <div id="content">
	<!-- Single button -->
		<div class= "row" >
			<div class = "col-lg-8 col-lg-push-2" id = "storyboard" style = "min-height: 100vh;">
				{% block content %}{% endblock %}
			</div>
		</div>
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
		
		    {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }} 
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
    {% endif %}
	
    {% endblock %}
    </div>
	
</body>

</html>
